html {
  background-color: yellowgreen;
}

body {
  background-position: center top;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  margin: 10%;
  text-align: center;
  min-width: 200px;


}

h1 {
  font-size: 24px;
  color: white;
  text-align: center;
  background-color: purple;
  border-radius: 15px;
  border: #CBA2E7 solid 5px;
  margin: 0 auto 0 auto;
  padding: 10px;
  max-width: 160px;
  min-width: 160px;
  text-transform: uppercase;
  font-family: arial, sans-serif;
}

form {
 border-radius: 5px;
 background-color: purple;
 max-width: 20px;
 margin: 20px auto 0 auto;
}

p {
  color: grey;
}
